{% extends "layout.html.jinja" %}
{% from "helpers/form_field.html.jinja" import render_field %}

{% block content %}
  <h1 class="text-2xl mb-2">新增文章</h1>
  <form action="{{ url_for('post.create') }}" method="POST" class="flex flex-col gap-4">
    {{ render_field(form.title) }}
    {{ render_field(form.content, rows=6) }}
    <div>
      <button type="submit" class="text-lg bg-blue-500 text-white p-2 rounded-sm">新增文章</button>
    </div>
  </form>
{% endblock %}
