{% extends "layout.html.jinja" %}

{% block content %}
  <h1 class="text-2xl">{{ post.title }}</h1>
  <article>
    <time datetime="{{ post.created_at.isoformat() }}"
              class="text-xs text-slate-500">
              {{ post.created_at.strftime('%Y-%m-%d') }}
    </time>
    <p class="bg-gray-50 px-4 py-2">{{ post.content }}</p>
  </article>
  <footer class="my-1 flex gap-2">
    <a href="{{ url_for('edit', id=post.id) }}"
       class="select-none bg-green-400 px-2 py-1 text-white">編輯</a>

    <form action="/posts/{{ post.id }}/delete" method="POST" onsubmit="return confirm('確認刪除？')">
      <button class="select-none bg-red-400 px-2 py-1 text-white">刪除</button>
    </form>
  </footer>
{% endblock %}
