<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Simple Blog</title>
  </head>
  <body class="bg-gray-50">
    <main class="container bg-white rounded shadow my-4 mx-auto p-12">
      {% include "shared/flash.html.jinja" %}
      {% include "shared/navbar.html.jinja" %}
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
