{% extends "layout.html.jinja" %}
{% from "helpers/form_field.html.jinja" import render_field %}

{% block content %}
  <h1 class="text-2xl mb-2">會員註冊</h1>
  <form action="{{ url_for('user.create') }}" method="POST" class="flex flex-col gap-4" onsubmit="return confirm('確認送出?')">
    {{ render_field(form.username) }}
    {{ render_field(form.password) }}
    {{ render_field(form.password_confirm) }}
    <div>
      <button type="submit" class="text-lg bg-blue-500 text-white p-2 rounded-sm">註冊帳號</button>
    </div>
  </form>
{% endblock %}
